
@import './main.css';
@import './layout.css';
@import './header.css';
@import './table.css';
@import './absences/create.css';
@import './absences/index.css';
@import './auth/login.css';
@import './auth/signup.css';
@import './budgets/create.css';
@import './budgets/index.css';
@import './daily_work/index.css';
@import './daily_work/show.css';


/* CSS Global */
:root {
    --color-primary: #1e293b;
    --color-secondary: #334155;
    --color-accent: #f59e0b;
    --color-text: #f8fafc;
    --color-hover: #475569;
}

.btn-primary-custom {
    background-color: var(--color-accent);
    border: none;
    color: #000;
}

.btn-primary-custom:hover {
    opacity: 0.9;
}

.btn-outline-custom {
    border: 1px solid var(--color-text);
    color: var(--color-text);
}

.btn-outline-custom:hover {
    background-color: var(--color-hover);
}
