.custom-navbar {
    background-color: var(--color-primary);
}

.custom-navbar .nav-link {
    color: var(--color-text);
    transition: 0.2s;
}

.custom-navbar .nav-link:hover {
    color: var(--color-accent);
}

.custom-navbar .navbar-brand {
    color: var(--color-text);
}

.custom-navbar .navbar-brand:hover {
    color: var(--color-accent);
}

.user-text {
    color: var(--color-text);
    font-weight: 500;
}

.custom-navbar i {
    margin-right: 5px;
}


.btn-outline-custom {
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    transition: 0.2s;
}

.btn-outline-custom:hover {
    background-color: var(--color-accent);
    color: var(--color-accent);
}

.btn-primary-custom {
    background-color: var(--color-accent);
    color: var(--color-accent);
    border: none;
    transition: 0.2s;
}

.btn-primary-custom:hover {
    background-color: #0056b3;
    color: var(--color-accent);
}
